@import "tailwindcss";

:root {

  --color-black: #101010;
  --color-white: #ffffff;
  --color-gray: #e8e6e1;
  --color-red: #96272D;
  --color-green: #9ED3C6;
  --color-gold: #D6B84D;

  font-family: "Noto Sans", sans-serif;
  color: var(--color-black);
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

